<!DOCTYPE html>
<html lang="en" ng-app="newsApp">
<head>
  <meta charset="utf-8">
  <title>News</title>
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers/NewsController.js"></script>
  <script src="js/controllers/NewsFactory.js"></script>
  <script src="js/controllers/NewsService.js"></script>
</head>
<body>
  <div id="stories" ng-controller="NewsController as controller">
    <p ng-repeat="story in controller.stories">
      {{ story.headline }}
      <br>
      <button class="read_summary" ng-click="story.readStory('summary')">Read Summary</button>
      <button class="read_summary" ng-click="story.readStory('full')">Read Full story</button>
    </p>
  </div>

  <div id="story_text">
  </div>
</body>
</html>
